body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #c982f2 0%, #fbb1d9 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  background-color: #e087d6;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
